.business-cards {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin: 1rem auto;
}

.business-cards .card {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: -2px 0 5px rgba(26, 105, 177, 0.3);
}

.business-cards .card h2 {
  font-family: var(--heading-font);
  color: var(--black-color);
  text-align: center;
}
