.business-cards {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin: 1rem auto;
}

.business-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: -2px 0 5px rgba(26, 105, 177, 0.3);
}

.business-cards .card h2 {
  font-family: var(--heading-font);
  color: var(--black-color);
  text-align: center;
}

.business-cards .card img{
  width: 110px;
  height: auto;
  padding: 1rem;
  background-color: rgba(26, 105, 177, 0.3);
  border-radius: 5px;
}
