/* Laptops */
@media screen and (min-width: 1024px) {
  header {
    display: flex;
    padding: 1rem;
    background: transparent;
    transition: background 0.5s ease-in-out;
  }

  header.fixed {
    background: #1a69b1;
    background: linear-gradient(
      90deg,
      rgba(26, 105, 177, 1) 0%,
      rgba(23, 50, 119, 1) 100%
    );
  }

  header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(26, 105, 177, 1) 0%,
      rgba(23, 50, 119, 1) 100%
    );
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: -1;
  }

  header.scrolled::before {
    opacity: 1;
  }

  header .header-top {
    flex: 1;
    padding: 0;
    background: transparent;
  }

  header nav {
    padding: 0;
    background: transparent;
    position: initial;
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
  }

  .header-top button {
    display: none;
  }

  footer {
    display: flex;
    padding: 1rem;
  }

  .footer-top {
    flex: 1;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 3rem;
  }

  .footer-branding {
    grid-row: 1 / 3;
  }

  .footer-top ul,
  .social-networks {
    grid-column: 2 / 3;
  }

  .footer-top ul > li {
    text-align: end;
    font-size: 1rem;
  }

  .social-networks {
    align-items: center;
    justify-content: flex-end;
    grid-row: 1 / 2;
    margin-bottom: 0;
  }

  .footer-bottom {
    flex: initial;
    background-color: initial;
    justify-content: center;
    padding: 0;
  }

  .logo-footer {
    justify-content: flex-start;
  }

  .footer-branding p {
    margin: 0;
  }

  .hero-content {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .hero-content h2 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 1.5rem;
    max-width: 100%;
  }

  .spotlight-content {
    max-width: 1200px;
    margin: 0 auto;
  }

  .spotlight-content h2 {
    text-align: start;
    font-size: 2rem;
  }

  .spotlight-content p {
    font-size: 1.2rem;
    text-align: start;
  }

  .spotlight .business-cards > .business-card:last-child {
    display: initial;
  }

  /* Weather */
  .weather-home {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 3fr repeat(2, 2fr);
    padding: 3rem 0;
  }

  .weather-home h2 {
    font-size: 1.7rem;
  }

  .weather-header {
    display: grid;
    grid-template: 1fr auto / 1fr auto;
  }
  .weather-header p {
    grid-column: 1 / 3;
    text-align: center;
  }

  .content-directory {
    max-width: 1200px;
    margin: 0 auto;
  }

  .content-directory h1 {
    font-size: 2.5rem;
  }

  .content-directory > p {
    padding: 0 6rem;
  }

  .breadcrumb ul {
    justify-content: start;
  }

  .join-form-section {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    overflow: hidden;
    border-radius: 20px;
  }
  .join-form-section > picture img {
    position: absolute;
    z-index: 1;
    grid-row: 1 / 2;
    grid-column: 3 / 5;
    height: 100%;
  }

  .join-form {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    z-index: 2;
    margin: 3rem;
  }

  .plans {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }

  .membership-levels {
    grid-column: 1/3;
  }

  .plans .level-card {
    height: 100%;
    margin: 0;
    background: var(--white-color);
    color: var(--secondary-color);
    justify-content: space-between;
  }

  .plans .level-card > button {
    background: #1a69b1;
    background: linear-gradient(
      90deg,
      rgba(26, 105, 177, 1) 0%,
      rgba(23, 50, 119, 1) 100%
    );
    color: var(--white-color);
    border: 3px solid var(--white-color);
    border-radius: 10px;
  }
  .plans .level-card > button:hover {
    background: var(--white-color);
    color: var(--secondary-color);
    border: 3px solid var(--secondary-color);
  }

  .membership-levels {
    padding: 0 3rem;
  }
  .membership-levels h2 {
    font-size: 2.5rem;
  }
  .membership-levels h2 .subtitle {
    font-size: 1.5rem;
  }

  .membership-levels > p {
    font-family: "Source Sans 3", sans-serif;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: justify;
  }

  #submission-data {
    margin: 0 auto;
  }

  .cards-discover {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .cards-discover .card-place {
    min-width: initial;
    min-height: 100%;
    display: grid;
    grid-template-areas:
      "name"
      "photograph"
      "address"
      "description"
      "cost"
      "link";
  }

  .cards-discover .card-place h2 {
    align-content: center;
    margin-top: 2rem;
  }

  .cards-discover .card-place picture {
    height: 250px;
  }

  .cards-discover .card-place picture:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
}
