/* Laptops */
@media screen and (min-width: 1024px) {
  header {
    display: flex;
    background: #1a69b1;
    background: linear-gradient(
      90deg,
      rgba(26, 105, 177, 1) 0%,
      rgba(23, 50, 119, 1) 100%
    );
    padding: 1rem;
  }

  header .header-top {
    flex: 1;
    padding: 0;
    background: transparent;
  }

  header nav {
    padding: 0;
    background: transparent;
    position: initial;
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
  }

  .header-top button {
    display: none;
  }

  footer {
    display: flex;
    padding: 1rem;
  }

  .footer-top {
    flex: 1;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 3rem;
  }

  .footer-branding {
    grid-row: 1 / 3;
  }

  .footer-top ul,
  .social-networks {
    grid-column: 2 / 3;
  }

  .footer-top ul > li {
    text-align: end;
    font-size: 1rem;
  }

  .social-networks {
    align-items: center;
    justify-content: flex-end;
    grid-row: 1 / 2;
    margin-bottom: 0;
  }

  .footer-bottom {
    flex: initial;
    background-color: initial;
    justify-content: center;
    padding: 0;
  }

  .logo-footer {
    justify-content: flex-start;
  }

  .footer-branding p {
    margin: 0;
  }
}
