:root {
  --primary-color: #1a69b1;
  --secondary-color: #173277;
  --white-color: #ffffff;
  --black-color: #0a0803;
  --accent-color: #bd2c49;

  --header-height: 60px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

body {
  font-family: "Source Sans 3", sans-serif;
}

.layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Header */
header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.header-top {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 1rem;
  background: #1a69b1;
  background: linear-gradient(
    90deg,
    rgba(26, 105, 177, 1) 0%,
    rgba(23, 50, 119, 1) 100%
  );
}

.header-top button,
.header-top button:active {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  width: 25px;
  height: 25px;
  color: var(--white-color);
  background-color: transparent;
  border: none;
}

.header-top button.close {
  font-size: 1rem;
  border-radius: 5px;
  color: var(--secondary-color);
  background-color: var(--white-color);
}

.header-branding {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-branding > h1,
a.header-branding {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--white-color);
  font-weight: 700;
  text-transform: uppercase;
}

header nav {
  position: absolute;
  z-index: 999;
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 1rem;
  background: #1a69b1;
  background: linear-gradient(
    90deg,
    rgba(26, 105, 177, 1) 0%,
    rgba(23, 50, 119, 1) 100%
  );
  padding: 0.5rem 1rem;
}

header nav.open {
  display: flex;
}

header .nav-link,
header .nav-link:link,
header .nav-link:visited {
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--white-color);
  border-bottom: 3px solid transparent;
}

header .nav-link.active {
  font-weight: 700;
  border-bottom: 3px solid var(--accent-color);
}

header .nav-link:hover,
header .nav-link:active {
  font-weight: 700;
  border-bottom: 3px solid var(--white-color);
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  background: var(--secondary-color);
}

.footer-top {
  padding: 0 1rem;
}

.logo-footer {
  flex: 1;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  font-size: 1.5rem;
}

.logo-footer img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.footer-branding {
  margin-bottom: 2rem;
}

.footer-branding p {
  margin: 0 auto;
  text-align: justify;
  font-style: italic;
  color: var(--white-color);
  max-width: 300px;
}

.logo-footer:link,
.logo-footer:visited {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: var(--white-color);
}

.social-networks {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.social-networks img {
  filter: invert(1);
}

.footer-top ul {
  list-style: none;
  padding: 0;
}

.footer-top ul > li {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--white-color);
  text-align: center;
  margin: 0.5rem 0;
}

.footer-top ul > li a {
  text-decoration: none;
  color: var(--white-color);
}

.footer-top ul > li:first-child {
  font-style: italic;
}

.footer-bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--black-color);
  padding: 1rem 0.5rem;
}

footer .copyright {
  color: var(--white-color);
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: center;
}

#lastModified {
  color: var(--white-color);
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: center;
}

/* Hero Banner */
.hero {
  position: relative;
  overflow: hidden;
  max-height: 600px;
  margin-top: -77px;
  /* 
  height: 600px;
 
 
  
  justify-content: center;
  align-items: center;
  text-align: center; */
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 100vw;
  height: 100%;
  background-color: rgba(10, 8, 3, 0.7);
}

.hero-content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 15;
  height: 100%;
  padding-top: 77px;
  padding: 0 1rem;
  color: var(--white-color);
}

.hero-content h2 {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: capitalize;
}

.hero-content p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0.5rem 0;
  max-width: 600px;
  line-height: 1.5;
  text-align: justify;
  padding: 0 2rem;
}

.hero-content a:link,
.hero-content a:visited {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 700;
}

.hero-content a {
  padding: 0.5rem 2rem;
  width: fit-content;
  background: #1a69b1;
  background: linear-gradient(
    90deg,
    rgba(26, 105, 177, 1) 0%,
    rgba(23, 50, 119, 1) 100%
  );
  border-radius: 5px;
}

.hero-content a:hover,
.hero-content a:active {
  background: #bd2c49;
  color: var(--white-color);
}

/* Spotlight */
.spotlight {
  position: relative;
  padding: 3rem 1rem;
  overflow: hidden;
}

.spotlight-content h2 {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 1rem;
  text-transform: capitalize;
  text-align: center;
}

.spotlight-content p {
  font-size: 1rem;
  font-style: italic;
  color: var(--black-color);
  text-align: justify;
  margin-bottom: 2rem;
}

.spotlight-background {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: 100vw;
  height: 100%;
  background-color: #fff;
  background-size: cover;
  background-position: center;
}

.spotlight .business-cards > .business-card:last-child {
  display: none;
}

/* 

.spotlight > h2 {
  font-family: var(--heading-font);
  font-size: 1.3rem;
  font-weight: 900;
  color: var(--secondary-color);
  text-align: center;
}

.spotlight > p {
  font-size: 1rem;
  font-style: italic;
  color: var(--black-color);
  margin: 0.5rem 0;
  text-align: center;
}

.spotlight > .business-cards {
  margin-top: 2rem;
}

*/

/* BussinessCard */
.business-cards {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin: 1rem auto;
}

.business-card {
  display: flex;
  min-height: 250px;
  flex-direction: column;
  background-color: var(--white-color);
  border-radius: 10px 10px 5px 5px;
  border-bottom: 0.5rem solid var(--accent-color);
  box-shadow: 2px 0px 10px rgba(26, 105, 177, 0.3);
}

.business-card .business-card-head {
  display: flex;
  padding: 1.5rem;
}

.business-card-tag {
  font-weight: 700;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
}

.business-card-tag-member {
  color: var(--white-color);
  background-color: var(--secondary-color);
}

.business-card-tag-silver {
  color: var(--black-color);
  background-color: #c0c0c0;
}

.business-card-tag-gold {
  color: var(--black-color);
  background-color: #ffd700;
}

.business-card .business-card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0px 1.5rem;
}

.business-card .business-card-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.business-card .business-card-profile img {
  width: 100px;
  height: auto;
}

.business-card .business-card-profile h2 {
  font-family: var(--heading-font);
  font-size: 1.3rem;
  font-weight: 900;
  color: var(--secondary-color);
  text-transform: capitalize;
  margin: 1rem 0px 0.5rem 0;
}

.business-card .business-card-profile p {
  font-weight: 300;
  text-align: justify;
  margin: 0px 0px 1rem 0;
}

.business-card .business-card-contact-info {
  border-radius: 5px;
  color: white;
  background-color: var(--secondary-color);
}

.business-card .business-card-contact-info ul {
  list-style: none;
  padding: 0px 1rem;
}
.business-card .business-card-contact-info ul li {
  padding: 0.25rem 0;
}

.business-card .business-card-footer {
  padding: 1rem 1.5rem;
  text-align: center;
}

.business-card .business-card-footer a {
  font-weight: 700;
  color: var(--accent-color);
}
